In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [4]:
## Load the dataset
data =pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
## Preprocess the data
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [10]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_dncoder_geo=OneHotEncoder()
geo_encoder=onehot_dncoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [14]:
onehot_dncoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [15]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_dncoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [22]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [23]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_dncoder_geo,file)

In [24]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [25]:
## DiVide the dataset into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [26]:
X_train

array([[ 1.44232726,  0.        ,  1.        , -0.45083482,  0.74981839,
        -0.90453403,  0.57735027,  1.        , -1.42390702, -1.73205081,
         0.        ,  1.73205081],
       [-1.30797349,  0.        ,  0.33333333,  1.71317231,  1.22210292,
         1.50755672,  0.57735027, -1.        ,  1.33830627,  0.57735027,
         0.        , -0.57735027],
       [-0.38330341,  0.        ,  0.33333333, -0.45083482, -0.98596066,
        -0.90453403,  0.57735027,  1.        ,  0.34092903,  0.57735027,
         0.        , -0.57735027],
       [ 0.24894964,  0.        , -1.66666667, -0.81150267, -0.98596066,
         0.30151134, -1.73205081, -1.        , -0.25532829,  0.57735027,
         0.        , -0.57735027]])

In [27]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [28]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

### ANN Implementation

In [33]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [34]:
(X_train.shape[1],)

(12,)

In [35]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

d:\Projects\ANNClassification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [36]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [38]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [40]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [41]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [42]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 7s 7s/step - accuracy: 0.5000 - loss: 0.7986 - val_accuracy: 1.0000 - val_loss: 0.4287
Epoch 2/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 386ms/step - accuracy: 0.7500 - loss: 0.5689 - val_accuracy: 1.0000 - val_loss: 0.4032
Epoch 3/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 328ms/step - accuracy: 1.0000 - loss: 0.4055 - val_accuracy: 1.0000 - val_loss: 0.3812
Epoch 4/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 324ms/step - accuracy: 1.0000 - loss: 0.2973 - val_accuracy: 1.0000 - val_loss: 0.3582
Epoch 5/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 310ms/step - accuracy: 1.0000 - loss: 0.2159 - val_accuracy: 1.0000 - val_loss: 0.3347
Epoch 6/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 330ms/step - accuracy: 1.0000 - loss: 0.1537 - val_accuracy: 1.0000 - val_loss: 0.3131
Epoch 7/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 299ms/step - accuracy: 1.0000 - loss: 0.1054 - val_accuracy: 1.0000 - val_loss: 0.2924
Epoch 8/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 333ms/step - accuracy: 1.0000 - loss: 0.0688 - val_accuracy: 1.0000 - val_loss: 0.2674
Epoch 9/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 332ms/step - accuracy: 1.0000 - loss: 0.0442 - val_accuracy: 1.0000 - val_loss: 0.2437
Epoch 10/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 332ms/step - accuracy: 1.0000 - loss: 0.0278 - val_accuracy: 1.0000 - val_loss: 0.2238
Epoch 11/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 321ms/step - accuracy: 1.0000 - loss: 0.0171 - val_accuracy: 1.0000 - val_loss: 0.2085
Epoch 12/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 312ms/step - accuracy: 1.0000 - loss: 0.0103 - val_accuracy: 1.0000 - val_loss: 0.1949
Epoch 13/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 308ms/step - accuracy: 1.0000 - loss: 0.0061 - val_accuracy: 1.0000 - val_loss: 0.1828
Epoch 14/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 333ms/step - accuracy: 1.0000 - loss: 0.0037 - val_accuracy: 1.0000 - val_loss: 0.1715
Epoch 15/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 299ms/step - accuracy: 1.0000 - loss: 0.0022 - val_accuracy: 1.0000 - val_loss: 0.1599
Epoch 16/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 321ms/step - accuracy: 1.0000 - loss: 0.0014 - val_accuracy: 1.0000 - val_loss: 0.1490
Epoch 17/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 309ms/step - accuracy: 1.0000 - loss: 8.5689e-04 - val_accuracy: 1.0000 - val_loss: 0.1380
Epoch 18/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 367ms/step - accuracy: 1.0000 - loss: 5.5048e-04 - val_accuracy: 1.0000 - val_loss: 0.1284
Epoch 19/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 329ms/step - accuracy: 1.0000 - loss: 3.6329e-04 - val_accuracy: 1.0000 - val_loss: 0.1191
Epoch 20/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 357ms/step - accuracy: 1.0000 - loss: 2.4598e-04 - val_accuracy: 1.0000 - val_loss: 0.1106
Epoch 21/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 563ms/step - accuracy: 1.0000 - loss: 1.7104e-04 - val_accuracy: 1.0000 - val_loss: 0.1028
Epoch 22/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 504ms/step - accuracy: 1.0000 - loss: 1.2208e-04 - val_accuracy: 1.0000 - val_loss: 0.0960
Epoch 23/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 336ms/step - accuracy: 1.0000 - loss: 8.9342e-05 - val_accuracy: 1.0000 - val_loss: 0.0899
Epoch 24/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 311ms/step - accuracy: 1.0000 - loss: 6.6970e-05 - val_accuracy: 1.0000 - val_loss: 0.0847
Epoch 25/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 359ms/step - accuracy: 1.0000 - loss: 5.1355e-05 - val_accuracy: 1.0000 - val_loss: 0.0800
Epoch 26/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step - accuracy: 1.0000 - loss: 4.0232e-05 - val_accuracy: 1.0000 - val_loss: 0.0760
Epoch 27/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 302ms/step - accuracy: 1.0000 - loss: 3.2162e-05 - val_accuracy: 1.0000 - val_loss: 0.0724
Epoch 28/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 332ms/step - accuracy: 1.0000 - loss: 2.6179e-05 - val_accuracy: 1.0000 - val_loss: 0.0693
Epoch 29/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 311ms/step - accuracy: 1.0000 - loss: 2.1685e-05 - val_accuracy: 1.0000 - val_loss: 0.0665
Epoch 30/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 429ms/step - accuracy: 1.0000 - loss: 1.8252e-05 - val_accuracy: 1.0000 - val_loss: 0.0641
Epoch 31/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 431ms/step - accuracy: 1.0000 - loss: 1.5590e-05 - val_accuracy: 1.0000 - val_loss: 0.0619
Epoch 32/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 313ms/step - accuracy: 1.0000 - loss: 1.3499e-05 - val_accuracy: 1.0000 - val_loss: 0.0599
Epoch 33/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 334ms/step - accuracy: 1.0000 - loss: 1.1835e-05 - val_accuracy: 1.0000 - val_loss: 0.0582
Epoch 34/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 309ms/step - accuracy: 1.0000 - loss: 1.0496e-05 - val_accuracy: 1.0000 - val_loss: 0.0567
Epoch 35/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 335ms/step - accuracy: 1.0000 - loss: 9.4058e-06 - val_accuracy: 1.0000 - val_loss: 0.0554
Epoch 36/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 321ms/step - accuracy: 1.0000 - loss: 8.5100e-06 - val_accuracy: 1.0000 - val_loss: 0.0541
Epoch 37/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 454ms/step - accuracy: 1.0000 - loss: 7.7673e-06 - val_accuracy: 1.0000 - val_loss: 0.0530
Epoch 38/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 330ms/step - accuracy: 1.0000 - loss: 7.1465e-06 - val_accuracy: 1.0000 - val_loss: 0.0521
Epoch 39/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 320ms/step - accuracy: 1.0000 - loss: 6.6236e-06 - val_accuracy: 1.0000 - val_loss: 0.0512
Epoch 40/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 324ms/step - accuracy: 1.0000 - loss: 6.1801e-06 - val_accuracy: 1.0000 - val_loss: 0.0504
Epoch 41/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 322ms/step - accuracy: 1.0000 - loss: 5.8026e-06 - val_accuracy: 1.0000 - val_loss: 0.0496
Epoch 42/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 307ms/step - accuracy: 1.0000 - loss: 5.4790e-06 - val_accuracy: 1.0000 - val_loss: 0.0490
Epoch 43/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 423ms/step - accuracy: 1.0000 - loss: 5.1997e-06 - val_accuracy: 1.0000 - val_loss: 0.0484
Epoch 44/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 310ms/step - accuracy: 1.0000 - loss: 4.9577e-06 - val_accuracy: 1.0000 - val_loss: 0.0479
Epoch 45/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 329ms/step - accuracy: 1.0000 - loss: 4.7469e-06 - val_accuracy: 1.0000 - val_loss: 0.0474
Epoch 46/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 331ms/step - accuracy: 1.0000 - loss: 4.5626e-06 - val_accuracy: 1.0000 - val_loss: 0.0470
Epoch 47/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 352ms/step - accuracy: 1.0000 - loss: 4.4010e-06 - val_accuracy: 1.0000 - val_loss: 0.0466
Epoch 48/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 314ms/step - accuracy: 1.0000 - loss: 4.2586e-06 - val_accuracy: 1.0000 - val_loss: 0.0462
Epoch 49/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 309ms/step - accuracy: 1.0000 - loss: 4.1330e-06 - val_accuracy: 1.0000 - val_loss: 0.0459
Epoch 50/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 320ms/step - accuracy: 1.0000 - loss: 4.0217e-06 - val_accuracy: 1.0000 - val_loss: 0.0456
Epoch 51/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 323ms/step - accuracy: 1.0000 - loss: 3.9229e-06 - val_accuracy: 1.0000 - val_loss: 0.0453
Epoch 52/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 299ms/step - accuracy: 1.0000 - loss: 3.8350e-06 - val_accuracy: 1.0000 - val_loss: 0.0451
Epoch 53/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 311ms/step - accuracy: 1.0000 - loss: 3.7565e-06 - val_accuracy: 1.0000 - val_loss: 0.0449
Epoch 54/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 310ms/step - accuracy: 1.0000 - loss: 3.6865e-06 - val_accuracy: 1.0000 - val_loss: 0.0447
Epoch 55/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 330ms/step - accuracy: 1.0000 - loss: 3.6237e-06 - val_accuracy: 1.0000 - val_loss: 0.0445
Epoch 56/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 321ms/step - accuracy: 1.0000 - loss: 3.5674e-06 - val_accuracy: 1.0000 - val_loss: 0.0443
Epoch 57/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 312ms/step - accuracy: 1.0000 - loss: 3.5169e-06 - val_accuracy: 1.0000 - val_loss: 0.0441
Epoch 58/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 342ms/step - accuracy: 1.0000 - loss: 3.4714e-06 - val_accuracy: 1.0000 - val_loss: 0.0440
Epoch 59/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step - accuracy: 1.0000 - loss: 3.4304e-06 - val_accuracy: 1.0000 - val_loss: 0.0439
Epoch 60/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 297ms/step - accuracy: 1.0000 - loss: 3.3934e-06 - val_accuracy: 1.0000 - val_loss: 0.0438
Epoch 61/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 320ms/step - accuracy: 1.0000 - loss: 3.3599e-06 - val_accuracy: 1.0000 - val_loss: 0.0437
Epoch 62/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 312ms/step - accuracy: 1.0000 - loss: 3.3297e-06 - val_accuracy: 1.0000 - val_loss: 0.0436
Epoch 63/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 309ms/step - accuracy: 1.0000 - loss: 3.3023e-06 - val_accuracy: 1.0000 - val_loss: 0.0435
Epoch 64/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 303ms/step - accuracy: 1.0000 - loss: 3.2774e-06 - val_accuracy: 1.0000 - val_loss: 0.0434
Epoch 65/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 299ms/step - accuracy: 1.0000 - loss: 3.2548e-06 - val_accuracy: 1.0000 - val_loss: 0.0433
Epoch 66/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 322ms/step - accuracy: 1.0000 - loss: 3.2342e-06 - val_accuracy: 1.0000 - val_loss: 0.0433
Epoch 67/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 310ms/step - accuracy: 1.0000 - loss: 3.2155e-06 - val_accuracy: 1.0000 - val_loss: 0.0432
Epoch 68/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 320ms/step - accuracy: 1.0000 - loss: 3.1984e-06 - val_accuracy: 1.0000 - val_loss: 0.0431
Epoch 69/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 321ms/step - accuracy: 1.0000 - loss: 3.1828e-06 - val_accuracy: 1.0000 - val_loss: 0.0431
Epoch 70/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 332ms/step - accuracy: 1.0000 - loss: 3.1685e-06 - val_accuracy: 1.0000 - val_loss: 0.0430
Epoch 71/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 358ms/step - accuracy: 1.0000 - loss: 3.1555e-06 - val_accuracy: 1.0000 - val_loss: 0.0430
Epoch 72/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 336ms/step - accuracy: 1.0000 - loss: 3.1435e-06 - val_accuracy: 1.0000 - val_loss: 0.0430
Epoch 73/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 324ms/step - accuracy: 1.0000 - loss: 3.1324e-06 - val_accuracy: 1.0000 - val_loss: 0.0429
Epoch 74/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 401ms/step - accuracy: 1.0000 - loss: 3.1223e-06 - val_accuracy: 1.0000 - val_loss: 0.0429
Epoch 75/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 317ms/step - accuracy: 1.0000 - loss: 3.1129e-06 - val_accuracy: 1.0000 - val_loss: 0.0428
Epoch 76/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 297ms/step - accuracy: 1.0000 - loss: 3.1043e-06 - val_accuracy: 1.0000 - val_loss: 0.0428
Epoch 77/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 308ms/step - accuracy: 1.0000 - loss: 3.0963e-06 - val_accuracy: 1.0000 - val_loss: 0.0428
Epoch 78/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 311ms/step - accuracy: 1.0000 - loss: 3.0889e-06 - val_accuracy: 1.0000 - val_loss: 0.0428
Epoch 79/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 308ms/step - accuracy: 1.0000 - loss: 3.0820e-06 - val_accuracy: 1.0000 - val_loss: 0.0427
Epoch 80/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 312ms/step - accuracy: 1.0000 - loss: 3.0755e-06 - val_accuracy: 1.0000 - val_loss: 0.0427
Epoch 81/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 323ms/step - accuracy: 1.0000 - loss: 3.0695e-06 - val_accuracy: 1.0000 - val_loss: 0.0427
Epoch 82/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 310ms/step - accuracy: 1.0000 - loss: 3.0639e-06 - val_accuracy: 1.0000 - val_loss: 0.0427
Epoch 83/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 322ms/step - accuracy: 1.0000 - loss: 3.0587e-06 - val_accuracy: 1.0000 - val_loss: 0.0426
Epoch 84/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 319ms/step - accuracy: 1.0000 - loss: 3.0537e-06 - val_accuracy: 1.0000 - val_loss: 0.0426
Epoch 85/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 330ms/step - accuracy: 1.0000 - loss: 3.0490e-06 - val_accuracy: 1.0000 - val_loss: 0.0426
Epoch 86/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 299ms/step - accuracy: 1.0000 - loss: 3.0446e-06 - val_accuracy: 1.0000 - val_loss: 0.0426
Epoch 87/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 312ms/step - accuracy: 1.0000 - loss: 3.0404e-06 - val_accuracy: 1.0000 - val_loss: 0.0426
Epoch 88/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 300ms/step - accuracy: 1.0000 - loss: 3.0364e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 89/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 303ms/step - accuracy: 1.0000 - loss: 3.0326e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 90/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 340ms/step - accuracy: 1.0000 - loss: 3.0290e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 91/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 943ms/step - accuracy: 1.0000 - loss: 3.0255e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 92/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 907ms/step - accuracy: 1.0000 - loss: 3.0222e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 93/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 303ms/step - accuracy: 1.0000 - loss: 3.0189e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 94/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 319ms/step - accuracy: 1.0000 - loss: 3.0158e-06 - val_accuracy: 1.0000 - val_loss: 0.0425
Epoch 95/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 309ms/step - accuracy: 1.0000 - loss: 3.0128e-06 - val_accuracy: 1.0000 - val_loss: 0.0424
Epoch 96/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 317ms/step - accuracy: 1.0000 - loss: 3.0099e-06 - val_accuracy: 1.0000 - val_loss: 0.0424
Epoch 97/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 323ms/step - accuracy: 1.0000 - loss: 3.0070e-06 - val_accuracy: 1.0000 - val_loss: 0.0424
Epoch 98/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 299ms/step - accuracy: 1.0000 - loss: 3.0043e-06 - val_accuracy: 1.0000 - val_loss: 0.0424
Epoch 99/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 319ms/step - accuracy: 1.0000 - loss: 3.0016e-06 - val_accuracy: 1.0000 - val_loss: 0.0424
Epoch 100/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 354ms/step - accuracy: 1.0000 - loss: 2.9989e-06 - val_accuracy: 1.0000 - val_loss: 0.0424

In [43]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [44]:
## Load Tensorboard Extension
%load_ext tensorboard

In [46]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 5864), started 0:00:50 ago. (Use '!kill 5864' to kill it.)